/* pozitionare header, responsive,design */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image : url('../Images/background.gif');
  background-size:cover;
  background-repeat: no-repeat;
   background-position: center center;
}

.header {
  overflow: hidden;
  background-color: #292F33;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* LOgo*/
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  background-color :#ff8c1a;

}

.header a:hover {
  background-color:#ff8c1a;
  color: black;
}
/*buton de home*/
.header a.active {
  background-color:#ff8c1a;
  color: white;
}

.header-right {
  float: right;
  background-color: #ddd;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}


table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin: auto;
  background-color : white;
  margin-top :2%;
  border: 7px solid;
  border-color : #292F33;
  box-shadow :  13px 8px #888888;
  color : white;

}

td {
 border: none;
  padding: 10px;
  text-align: left;
  vertical-align: middle;


}
tr {
height:20px;
 border: none;
  padding: 100px;
  text-align: center;
  vertical-align: middle;
  color : blue;
  border-radius:20px;
 background-color:red;



}

tr:last-child td,
tr:last-child th {
  border-bottom: none;
}

@media (max-width: 500px) {
  td,
  th {
    display: block;
    width: 100%;
    text-align: center;


  }

  td:first-child,
  th:first-child {
    padding-top: 20px;


  }

  td:last-child,
  th:last-child {
    padding-bottom: 20px;


  }
}

/*
td{
 text-align: right;
color : blue;

}
tbody {
 width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  margin: auto;
  background-color : black;
  opacity : 0.6;
  margin-top :2%;
  border: 7px solid;
  border-color : #292F33;
  box-shadow :  13px 8px #888888;
  color : white;
}*/

